<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="container">
        <div class="list-group">
            <a class="list-group-item list-group-item-action"><h1><%= book.title %></h1> 
                <h3><%= book.author %> </h3>
            </a>
             
          </div>
    </div>
</body>
</html>